*{
    margin: 0;
    padding: 0;
}

article, footer, header, nav, section{
    display: block;
}

header, footer, #contenido {
    vertical-align: central;
    text-align: center;
}

body {
    /*background: #C0C0C0 url(../img/fondo.jpg);*/
    color: #FFF;
    font-size: 1em;

    margin:0;
    padding:0;
    height:100%;
}

body section {
    height: 100%;
}

footer{ 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100px; 
  }
  

#divFooter {

    width: 100%;
    background: #565656;
    display: inline-flex;
    color: #afaaaa;
}

#divEncabezado{
    width: 100%;
    background: #565656;
    color: #565656;
    height: auto;
}

#divEncabezado #navbarSupportedContent{
    width: 100%;
    background: #565656;
}

/*################################### KURY ###############################################*/


div.exploradorCr{
    width: 25%;
    padding-top: 50px;
    padding-left: 50px;
    /*color: brown;*/
    color: black;
    /*background: #C0C0C0 url(../img/fondo.jpg);*/
    height: 400px;

    border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 0px solid #000000;

}

div.buscador{
    color: black;
    margin-top:50px;
    margin-left:85%;
    width: 250px;
    height: 120px;
   /* border-radius: 92px 92px 92px 92px;
-moz-border-radius: 92px 92px 92px 92px;
-webkit-border-radius: 92px 92px 92px 92px;
border: 1px solid #000000;*/
}
/*BARRA PARA MEDIR EL PROGRESO TIEMPO */
.slider{
    /*border: 1px solid grey;*/
    height: 30px;
    position: relative;
    width: 60%;
}

.slider>.progreso{
    background: #14aaf6;
    /*height: 100%;*/
    cursor: pointer;
    height: 40%;
    border-radius: 10px;
    top: 25%;
    position: absolute;
    width: 100%;
}

.slider>.emptyprogress{
    background: #97d9fb;
    /*height: 100%;*/
    cursor: pointer;
    height: 40%;
    border-radius: 10px;
    top: 25%;
    position: absolute;
    width: 100%;
}

.slider>.indicador{
    background: blue;
    cursor: pointer;
    height: 100%;
    margin-left: -5%;
    left: 100%;
    position: absolute;
    width: 5%;
}

/*BARRA PARA MEDIR EL PROGRESO Kilometros */
.sliderKilometros{
    /*border: 1px solid grey;*/
    height: 30px;
    position: relative;
    width: 60%;
}

.sliderKilometros>.progresoKilometros{
    background: #14aaf6;
    /*height: 100%;*/
    cursor: pointer;
    height: 40%;
    border-radius: 10px;
    top: 25%;
    position: absolute;
    width: 100%;
}

.sliderKilometros>.emptyprogressKilometros{
    background: #97d9fb;
    /*height: 100%;*/
    cursor: pointer;
    height: 40%;
    border-radius: 10px;
    top: 25%;
    position: absolute;
    width: 100%;
}

.sliderKilometros>.indicadorKilometros{
    background: blue;
    cursor: pointer;
    height: 100%;
    margin-left: -5%;
    left: 100%;
    position: absolute;
    width: 5%;
}

#capa{
  height: 150px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
    width: 400px;
    color: black;

  }
